/* Add this at the top of your CSS file to import the font */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Playfair+Display:ital,wght@0,400;1,400&display=swap");

/* style.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0e0d0d, #383838);
  color: #f5f5f5;
}

.card {
  width: 700px;
  height: 300px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #714225, #7a0b21cd);
  color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .card:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
} */

.card h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 10px;
  font-style: italic;
}

.card p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  line-height: 1.6;
  font-style: italic;
  height: 115px;
}

#nextBtn {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #f76b8a;
  background: #ffffffc2;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

#nextBtn:hover {
  background: #f2a365;
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#nextBtn:active {
  transform: translateY(1px);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .card {
    width: 90%;
    padding: 20px;
    height: auto;
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1.2rem;
  }

  #nextBtn {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    padding: 15px;
    height: 240px;
    margin: 0 20px;
  }

  .card h2 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 1rem;
    line-height: 1.4;
  }

  #nextBtn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
